html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #1b2224;
  margin: 0;
  line-height: 1.43;
}

.container {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  color: #596468;
}

.compose-btn {
  display: flex;
  background-color: #ce5135;
  border: none;
  border-radius: 3px;
  padding: 0.8em 3em;
  color: #fff;
  margin: 3.5em auto;
  margin-bottom: 2.5em;
  font-size: 1.05em;
  font-weight: lighter;
  cursor: pointer;
}

.email-panel {
  padding: 3em 4em;
  flex-grow: 1;
  max-width: 600px;
  background-color: #fff;
}

.email-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-header {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
  color: #444;
}

.email-list {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e9eff0;
}

.email-item {
  border-bottom: 1px solid #e9eff0;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.meta-data {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  opacity: 0.5;
}

.email-search {
  padding: 0.5em 1em;
  border: 3px solid #eee;
  text-align: right;
  font-size: 1em;
}

.sidebar-item {
  padding: 1em;
  font-weight: bold;
}

.sidebar-item:active {
  background-color: white;
  border-left: 3px solid #ce5135;
}

.sidebar-divider {
  border-top: 1px solid #383838;
  color: #383838;
  font-size: 0.9em;
  padding: 1em;
  margin-top: 1em;
}

.sidebar-icon {
  margin-right: 1em;
}

.sidebar-notification {
  float: right;
  padding: 0.5em 0.8em;
  font-size: 0.6em;
  border-radius: 50%;
  border: 2px solid #596468;
}

.sidebar-item:active .sidebar-notification{
  background-color: #ce5135;
  border-color: #ce5135;
  color: white;
}
